#banner {
    width: 100%;
}

.principal {
    background: #1219ea;
    padding: initial;
    width: 100%;
}

.titulo-principal {
    padding-left: 20px;
    background: #c51c1c;
}

.titulo-centralizado {
    text-align: center;
    
   }

p {
    text-align: center;
}
#missao {
    font-size: 20px
    
}

em strong {
    color: #ff0000;
}

.itens {
    font-size: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;  
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imagembeneficios {
    width: 0%;
    background-color: #c51c1c;
}

