body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    align-items: center;
   
}


.fonte-titulo {
    color: chartreuse;
}

.cor-especial {
    color: rgb(23, 27, 35)!important;
}

.botao-cor-especial {
    background-color: rgb(108, 177, 47);
    color: white;
}

.borda-cor-especial {
    border-color: rgb(115, 225, 119);
}

.card-posicao-imagem {
    object-fit: cover;
   /* object-position: 0 80%;*/
    height: 200px;
}

.navegacao{
    background: rgb(135, 215, 222);
}

footer{
    width: 100%;
}

.solucao{
    text-align: center;
}

section {
    background: rgb(255, 244, 240);
}

.time {
    text-align: center;
    max-height: 30px;
}

.depoimento {
    width: 100%;
  
    
}

.texto-chamada{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.imagem-5 {
  margin: 200px;
  align-items: center;
    
}

.text-center{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: auto;
    
}

.titulo{
    margin-top: 10%;

}

.collapse .navbar-collapse{
    float: right;
   
}

